.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 96px 0;
  height: 100%;
  width: 100%;
  background-size: 100%;
  overflow: hidden;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  gap: 40px;
  overflow: hidden;
}
