.main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--padding);
  height: 100%;
  width: 100%;
  background-size: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  gap: 72px;
  height: min-content;
}

.title {
  display: flex;
  text-align: start;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.miniBanner {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 80%;
  height: min-content;
  gap: 60px;
}

.imageBox {
  width: auto;
  height: auto;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 32px !important;
}

.textBox {
  display: flex;
  text-align: start;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  max-width: 60%;
  gap: 16px;
}

@media (max-width: 480px) {
  .content {
    width: 92vw;
  }
  .title {
    text-align: center;
  }

  .miniBanner {
    max-width: 100%;
    width: 100%;
    flex-direction: column !important;
    align-items: center;
    text-align: center;
    gap: 20px;
  }
  .imageBox {
    width: auto;
    height: auto;
  }
  .textBox {
    width: 100%;
    max-width: 100%;
    height: 100%;
    text-align: center;
  }

  .textBox h3,
  p,
  a {
    width: 100%;
  }
}
