.main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--padding);
  height: 100%;
  overflow: hidden;
  background-size: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  width: 80vw;
  gap: 40px;
}

.title {
  text-align: center;
}

.carousel {
  overflow: hidden;
  cursor: grab;
}

.inner {
  display: flex;
  gap: 60px;
}

@media (max-width: 480px) {
  .itemBox {
    flex-direction: column;
    width: 100%;
  }
  .item {
    width: 100%;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .itemBox {
    flex-direction: column;
    width: 100%;
  }
  .item {
    width: 100%;
  }
}
